*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}
.header{
    height: 100vh;
    width: 100%;
    background: url("3.jpg") rgba(0, 0, 0, 0.7);
    background-blend-mode: darken;
    background-position: center;
    background-size: cover;

}
.nav{
    display:flex;
    justify-content: space-between;

}
img{
    height: 80px;
    width: 200px;
    cursor: pointer;
}
.nav ul li{
    justify-content: space-between;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    list-style: none;
}
.nav ul li a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
.nav ul li a::after{
    content: '';
    transition: 0.5s;
    width: 0;
    height: 3px;
    left: 0;
    bottom: -10;
    display: block;
    background-color:#16e6ff;
}
.nav ul li a:hover::after{
    width: 100%;
}
h1{
    text-align: center;
    color: #fff;
    font-size: 52px;
}
p{
    color: #fff;
    font-size: 16px;
    margin: auto;
    width: 600px;
    text-align: justify;
    margin-top: 90px;
}
p:hover{
    box-shadow: 0 0 20px 0 ;
    font-size: 18px;
    width: 700px;
}